<title>Contact Us</title>
<h1>Get in Touch</h1>
<div class="well well-large">
<h3>Do you have feedback or questions about Schnucks?</h3>

<p>Contact us at <a href="mailto:hello@playschnucks.com?Subject=Hello%20again">
hello@playschnucks.com</a></p>
</br>
<h3>Stay Connected</h3>
<p>Follow us on twitter: <a href="https://twitter.com/playschnucks" target="_blank">@playschnucks</a></p>
<form action="http://playschnucks.us6.list-manage1.com/subscribe/post?u=3655dbe68fac97dde6663ae68&amp;id=f1f5f57450" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
</br>
<h3>Join the Schnucks Beta Team</h3>
  <p>Stay in the loop as we roll out new features.</p>
  <div class="mc-field-group">
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address" >
  </div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success"></div>
  </div>
</form>
</div>