<title>About Schnucks?</title>
<h1>About Schnucks</h1>
<div class="well well-large">
<h2>What is Schnucks?</h2>


<p>Put simply, Schnucks is a fantasy baseball game, playable by either two or three people (or "Schnuckers"), based on the results of one actual baseball game.  For Schnucks Basic, the standard 5x5 Rotisserie categories (BA, HR, R, RBI, SB / ERA, WHIP, K, W, S) are used. Schnucks Ultra, should it come to pass, will use custom statistics.  A Schnucks team consists of nine hitters (one at every position, plus a utility player) and four pitchers.  Three innings pitched are required by your staff to avoid an automatic last place finish in ERA and WHIP.  A loss by a pitcher means last place in the Wins category.

Players are chosen in a snake draft format (simply alternating if two Schnuckers).  Draft order is traditionally determined by a game of rock, paper, scissors.</p>


<h2>Schnucks Culture</h2>

<p>Schnucks was invented by three hearty baseball road-trippers in old Busch Stadium (home of Schnucks Market grocery stores).  While playing Schnucks, the word "schnuck" may be used much like the word "smurf" - i.e. in place of almost any other word in a sentence, or in simple isolated exclamation, e.g. "Schnucks!" when one of your players hits a homer.  A Schnuck is a perfect way to etch a baseball game into your memory forever, and remind one that anything can happen - a minor league journeyman like Tommy Everidge can win a real game by doubling off Jon Papelbon and become a Schnuck immortal!</p>
</div>