<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your Schnucks Results</h1>
    <p>
      Here are the results from your latest Schnucks game:<br/>
    </p>

    <p>
      Want to play again? Go to <%= @url %>.
    </p>
    <p>Thanks for playing and have a great day!</p>
  </body>
</html>
